---
http_interactions:
- request:
    method: get
    uri: http://epb.swan.wa.gov.au/Pages/XC.Track/SearchApplication.aspx?d=thisweek&k=LodgementDate&o=xml&t=282,281,283
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>408417</ApplicationId>\r\n
        \   <NatureOfApplication>CERTIFIED Patio/Garage/Shed/Carport/Workshop      </NatureOfApplication>\r\n
        \   <NatureOfApplicationType>708</NatureOfApplicationType>\r\n    <ReferenceNumber>C-OUT/924/2016</ReferenceNumber>\r\n
        \   <Status>Application Lodged                                </Status>\r\n
        \   <ReferenceNumberYear>2016</ReferenceNumberYear>\r\n    <ReferenceNumberNumber>924</ReferenceNumberNumber>\r\n
        \   <ApplicationDetails>Carport</ApplicationDetails>\r\n    <CreatedDate>2016-04-05T00:00:00+08:00</CreatedDate>\r\n
        \   <LodgementDate>2016-04-05T00:00:00+08:00</LodgementDate>\r\n    <EstimatedCost>0.000000</EstimatedCost>\r\n
        \   <OfficerTitle>Suzie Richardson                                  </OfficerTitle>\r\n
        \   <DADays>1</DADays>\r\n    <ApplicationIdS>408417</ApplicationIdS>\r\n
        \   <Address>\r\n      <PropertyId>430131</PropertyId>\r\n      <ParcelId>130484</ParcelId>\r\n
        \     <GeocodeId>416919</GeocodeId>\r\n      <ApplicationId>408417</ApplicationId>\r\n
        \     <Line1>69 Kerwin Way\rLOCKRIDGE  WA  6054                                                                   </Line1>\r\n
        \     <Line2 />\r\n      <FullLegalDescription>Strata Lot 1 on Strata 28940
        \                                                                       </FullLegalDescription>\r\n
        \     <ApplicationIdS>408417</ApplicationIdS>\r\n    </Address>\r\n    <Party>\r\n
        \     <PartyId>397775</PartyId>\r\n      <ApplicationId>408417</ApplicationId>\r\n
        \     <PartyRole>Applicant                                         </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>ZMIGRODZKI</FamilyName>\r\n
        \     <GivenName>PIOTR KAZIMI</GivenName>\r\n      <Initial>PK   </Initial>\r\n
        \     <NameType>P</NameType>\r\n      <FullName>Piotr Kazimi Zmigrodzki</FullName>\r\n
        \     <Line1>69 Kerwin Wy\rLOCKRIDGE  WA  6054</Line1>\r\n      <ApplicationIdS>408417</ApplicationIdS>\r\n
        \   </Party>\r\n    <Party>\r\n      <PartyId>397775</PartyId>\r\n      <ApplicationId>408417</ApplicationId>\r\n
        \     <PartyRole>Builder                                           </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>ZMIGRODZKI</FamilyName>\r\n
        \     <GivenName>PIOTR KAZIMI</GivenN[...]
